{% extends "base.html" %}
{% block content %}
  <h3>Admin – Login</h3>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">E-mail (admin)</label>
      <input name="email" type="email" class="form-control" value="admin@ceasa.com" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input name="senha" type="password" class="form-control" value="admin123" required>
    </div>
    <button class="btn btn-dark">Entrar como Admin</button>
  </form>
{% endblock %}
