{% extends "base.html" %}
{% block content %}
  <h3>Cadastro de Empresa</h3>
  <form method="post">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">CNPJ</label>
        <input name="cnpj" class="form-control" placeholder="somente números" required>
      </div>
      <div class="col-md-6">
        <label class="form-label">Número do Box</label>
        <input name="box" class="form-control" required>
      </div>
      <div class="col-md-12">
        <label class="form-label">Nome da Empresa</label>
        <input name="nome" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label class="form-label">E-mail</label>
        <input name="email" type="email" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label class="form-label">Senha</label>
        <input name="senha" type="password" class="form-control" required>
      </div>
    </div>
    <div class="mt-3 d-flex gap-2">
      <button class="btn btn-primary">Cadastrar</button>
      <a class="btn btn-outline-secondary" href="{{ url_for('login') }}">Já tenho conta</a>
    </div>
  </form>
{% endblock %}
